adf-ucb-dw-vacunas-22194/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-dw-vacunas-22194"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_vacunacion_consolidada')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "vacunacion_la_paz_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "vacunacion_santa_cruz_csv",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "vacunacion_rural_movil_csv",
								"type": "DatasetReference"
							},
							"name": "source3"
						},
						{
							"dataset": {
								"referenceName": "silver_establecimientos",
								"type": "DatasetReference"
							},
							"name": "source4"
						},
						{
							"dataset": {
								"referenceName": "silver_municipios",
								"type": "DatasetReference"
							},
							"name": "source5"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1",
							"description": "Se está cambiando el nombre de source1 a select1 con las columnas \"registro_id, paciente_id, documento_identidad, nombres, apellido_paterno, apellido_materno, sexo, fecha_nacimiento, municipio_nombre, pueblo_indigena, fecha_vacunacion, vacuna_id, vacuna_nombre, numero_dosis, establecimiento_id, establecimiento_nombre, departamento, lote_vacuna, temperatura_conservacion, edad_dias_aplicacion, via_administracion\"."
						},
						{
							"name": "select2"
						},
						{
							"name": "select3"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "derivedColumn4"
						},
						{
							"name": "derivedColumn5"
						},
						{
							"name": "derivedColumn6"
						},
						{
							"name": "union1"
						},
						{
							"name": "union2"
						},
						{
							"name": "derivedColumn7"
						},
						{
							"name": "lookup1"
						},
						{
							"name": "select4"
						},
						{
							"name": "lookup2"
						},
						{
							"name": "select5"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_registro as string,",
						"          cod_paciente as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          primer_apellido as string,",
						"          segundo_apellido as string,",
						"          genero as string,",
						"          fec_nacimiento as string,",
						"          municipio as string,",
						"          pueblo_indigena as string,",
						"          fec_vacunacion as string,",
						"          cod_vacuna as string,",
						"          desc_vacuna as string,",
						"          nro_dosis as string,",
						"          cod_establecimiento as string,",
						"          desc_establecimiento as string,",
						"          depto as string,",
						"          nro_lote as string,",
						"          temp_conservacion as string,",
						"          edad_dias as string,",
						"          via_aplicacion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          registro_id as string,",
						"          paciente_id as string,",
						"          ci_paciente as string,",
						"          nombre_paciente as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as string,",
						"          municipio_residencia as string,",
						"          comunidad_indigena as string,",
						"          fecha_vacunacion as string,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          numero_dosis as string,",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          departamento as string,",
						"          lote_vacuna as string,",
						"          temperatura_conservacion as string,",
						"          edad_dias_aplicacion as string,",
						"          aplicacion_oportuna as string,",
						"          via_administracion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source(output(",
						"          record_id as string,",
						"          sync_timestamp as string,",
						"          device_id as string,",
						"          patient_id as string,",
						"          patient_ci as string,",
						"          patient_name as string,",
						"          patient_last_name_1 as string,",
						"          patient_last_name_2 as string,",
						"          patient_sex as string,",
						"          patient_birth_date as string,",
						"          patient_department as string,",
						"          patient_municipality as string,",
						"          patient_community as string,",
						"          patient_indigenous as string,",
						"          vaccination_date as string,",
						"          vaccine_code as string,",
						"          vaccine_name as string,",
						"          dose_number as string,",
						"          facility_code as string,",
						"          facility_name as string,",
						"          lot_number as string,",
						"          storage_temp_celsius as string,",
						"          patient_age_days as string,",
						"          administration_route as string,",
						"          gps_latitude as string,",
						"          gps_longitude as string,",
						"          gps_accuracy_meters as string,",
						"          observations as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source3",
						"source(output(",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          tipo_establecimiento as string,",
						"          nivel_atencion as integer,",
						"          zona as string,",
						"          sedes as string,",
						"          red_salud as string,",
						"          departamento as string,",
						"          municipio as string,",
						"          latitud as decimal(12,8),",
						"          longitud as decimal(12,8),",
						"          tiene_cadena_frio as boolean,",
						"          activo as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source4",
						"source(output(",
						"          municipio_id as string,",
						"          municipio_nombre as string,",
						"          departamento as string,",
						"          codigo_departamento as string,",
						"          zona_geografica as string,",
						"          es_capital_departamental as boolean,",
						"          poblacion_depto_estimada as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source5",
						"source1 select(mapColumn(",
						"          registro_id = id_registro,",
						"          paciente_id = cod_paciente,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno = primer_apellido,",
						"          apellido_materno = segundo_apellido,",
						"          sexo = genero,",
						"          fecha_nacimiento = fec_nacimiento,",
						"          municipio_nombre = municipio,",
						"          pueblo_indigena,",
						"          fecha_vacunacion = fec_vacunacion,",
						"          vacuna_id = cod_vacuna,",
						"          vacuna_nombre = desc_vacuna,",
						"          numero_dosis = nro_dosis,",
						"          establecimiento_id = cod_establecimiento,",
						"          establecimiento_nombre = desc_establecimiento,",
						"          departamento = depto,",
						"          lote_vacuna = nro_lote,",
						"          temperatura_conservacion = temp_conservacion,",
						"          edad_dias_aplicacion = edad_dias,",
						"          via_administracion = via_aplicacion",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"source2 select(mapColumn(",
						"          registro_id,",
						"          paciente_id,",
						"          documento_identidad = ci_paciente,",
						"          nombres = nombre_paciente,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          municipio_nombre = municipio_residencia,",
						"          pueblo_indigena = comunidad_indigena,",
						"          fecha_vacunacion,",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          numero_dosis,",
						"          establecimiento_id,",
						"          establecimiento_nombre = nombre_establecimiento,",
						"          departamento,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          aplicacion_oportuna,",
						"          via_administracion",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"source3 select(mapColumn(",
						"          registro_id = record_id,",
						"          paciente_id = patient_id,",
						"          documento_identidad = patient_ci,",
						"          nombres = patient_name,",
						"          apellido_paterno = patient_last_name_1,",
						"          apellido_materno = patient_last_name_2,",
						"          sexo = patient_sex,",
						"          fecha_nacimiento = patient_birth_date,",
						"          departamento = patient_department,",
						"          municipio_nombre = patient_municipality,",
						"          pueblo_indigena = patient_indigenous,",
						"          fecha_vacunacion = vaccination_date,",
						"          vacuna_id = vaccine_code,",
						"          vacuna_nombre = vaccine_name,",
						"          numero_dosis = dose_number,",
						"          establecimiento_id = facility_code,",
						"          establecimiento_nombre = facility_name,",
						"          lote_vacuna = lot_number,",
						"          temperatura_conservacion = storage_temp_celsius,",
						"          edad_dias_aplicacion = patient_age_days,",
						"          via_administracion = administration_route,",
						"          latitud = gps_latitude,",
						"          longitud = gps_longitude,",
						"          observaciones = observations",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"select1 derive(pueblo_indigena = iif(upper(trim(pueblo_indigena)) == 'SÍ', true(), false()),",
						"          sexo = iif(     upper(trim(sexo)) == 'MASCULINO',     'M',     'F' ),",
						"          fecha_nacimiento = toDate(fecha_nacimiento, 'dd/MM/yyyy'),",
						"          fecha_vacunacion = toTimestamp(fecha_vacunacion, 'dd/MM/yyyy'),",
						"          documento_identidad = replace(documento_identidad, ' LP', ''),",
						"          departamento = upper(trim(departamento)),",
						"          numero_dosis = toInteger(numero_dosis),",
						"          edad_dias_aplicacion = toInteger(edad_dias_aplicacion),",
						"          temperatura_conservacion = toDecimal(temperatura_conservacion),",
						"          origen_datos = 'LA PAZ') ~> derivedColumn1",
						"select2 derive(pueblo_indigena = iif(upper(trim(pueblo_indigena)) == 'true', true(), false()),",
						"          fecha_nacimiento = toDate(fecha_nacimiento,'d/M/yyyy'),",
						"          fecha_vacunacion = toTimestamp(fecha_vacunacion,'d/M/yyyy'),",
						"          numero_dosis = toInteger(numero_dosis),",
						"          departamento = trim(departamento),",
						"          temperatura_conservacion = toDecimal(temperatura_conservacion),",
						"          edad_dias_aplicacion = toInteger(edad_dias_aplicacion),",
						"          aplicacion_oportuna = toBoolean(aplicacion_oportuna),",
						"          documento_identidad = replace(documento_identidad, ' SC', '')) ~> derivedColumn2",
						"select3 derive(pueblo_indigena = iif(pueblo_indigena == 'True', true(), false()),",
						"          sexo = upper(trim(sexo)),",
						"          numero_dosis = toInteger(numero_dosis),",
						"          fecha_nacimiento = toDate(fecha_nacimiento, 'd/M/yyyy'),",
						"          fecha_vacunacion = toTimestamp(fecha_vacunacion, 'yyyy-MM-dd\\'T\\'HH:mm:ss'),",
						"          temperatura_conservacion = toDecimal(temperatura_conservacion),",
						"          edad_dias_aplicacion = toInteger(edad_dias_aplicacion),",
						"          documento_identidad = iif(     isNull(documento_identidad) || trim(documento_identidad) == '',     '00000000',     regexReplace(documento_identidad, '[^0-9]', '') ),",
						"          departamento = upper(trim(departamento))) ~> derivedColumn3",
						"derivedColumn2 derive(departamento = iif(\r",
						"    regexMatch(lower(trim(departamento)), '.*cruz.*'),\r",
						"    'SANTA CRUZ',\r",
						"    upper(trim(departamento))\r",
						"),",
						"          origen_datos = 'SANTA CRUZ') ~> derivedColumn4",
						"derivedColumn3 derive(aplicacion_oportuna = iif(\r",
						"    isNull(fecha_vacunacion),\r",
						"    false(),\r",
						"    iif(\r",
						"        fecha_vacunacion <= currentTimestamp(),\r",
						"        true(),\r",
						"        false()\r",
						"    )\r",
						"),",
						"          latitud = toDecimal(    concat(        substring(replace(latitud,'.',''),1,3),        '.',        substring(replace(latitud,'.',''),4)    ),12,6),",
						"          longitud = iif(    size(split(longitud, '\\\\.')) > 2,    toDecimal(        regexReplace(longitud, '\\\\.(?=[^.]*$)', ''),    12,6),    toDecimal(        concat(            substring(replace(longitud,'.',''),1,                length(replace(longitud,'.',''))-6            ),            '.',            right(replace(longitud,'.',''),6)        ),    12,6)),",
						"          origen_datos = 'RURAL MOVIL') ~> derivedColumn5",
						"derivedColumn1 derive(aplicacion_oportuna = iif(    isNull(fecha_vacunacion),    false(),    iif(        fecha_vacunacion <= currentTimestamp(),        true(),        false()    ))) ~> derivedColumn6",
						"derivedColumn6, derivedColumn4 union(byName: true)~> union1",
						"union1, derivedColumn5 union(byName: true)~> union2",
						"union2 derive(observaciones = iif(\r",
						"    isNull(observaciones),\r",
						"    'sin observaciones',\r",
						"    observaciones\r",
						")) ~> derivedColumn7",
						"derivedColumn7, source4 lookup(union2@establecimiento_id == source4@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"lookup1 select(mapColumn(",
						"          registro_id,",
						"          paciente_id,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          municipio_nombre,",
						"          pueblo_indigena,",
						"          fecha_vacunacion,",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          numero_dosis,",
						"          establecimiento_id = union2@establecimiento_id,",
						"          establecimiento_nombre,",
						"          departamento = union2@departamento,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          via_administracion,",
						"          origen_datos,",
						"          aplicacion_oportuna,",
						"          observaciones,",
						"          latitud = source4@latitud,",
						"          longitud = source4@longitud",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select4",
						"select4, source5 lookup(select4@municipio_nombre == source5@municipio_nombre,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup2",
						"lookup2 select(mapColumn(",
						"          registro_id,",
						"          paciente_id,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          municipio_nombre = select4@municipio_nombre,",
						"          pueblo_indigena,",
						"          fecha_vacunacion,",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          numero_dosis,",
						"          establecimiento_id,",
						"          establecimiento_nombre,",
						"          departamento = select4@departamento,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          via_administracion,",
						"          origen_datos,",
						"          aplicacion_oportuna,",
						"          observaciones,",
						"          latitud,",
						"          longitud,",
						"          municipio_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select5",
						"select5 filter(!isNull(municipio_id)) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          registro_id as string,",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          municipio_nombre as string,",
						"          municipio_id as string,",
						"          pueblo_indigena as boolean,",
						"          fecha_vacunacion as timestamp,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          numero_dosis as integer,",
						"          establecimiento_id as string,",
						"          establecimiento_nombre as string,",
						"          departamento as string,",
						"          lote_vacuna as string,",
						"          temperatura_conservacion as decimal(5,2),",
						"          edad_dias_aplicacion as integer,",
						"          via_administracion as string,",
						"          latitud as decimal(12,8),",
						"          longitud as decimal(12,8),",
						"          observaciones as string,",
						"          origen_datos as string,",
						"          aplicacion_oportuna as boolean,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          registro_id,",
						"          paciente_id,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          municipio_nombre,",
						"          municipio_id,",
						"          pueblo_indigena,",
						"          fecha_vacunacion,",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          numero_dosis,",
						"          establecimiento_id,",
						"          establecimiento_nombre,",
						"          departamento,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          via_administracion,",
						"          latitud,",
						"          longitud,",
						"          observaciones,",
						"          origen_datos,",
						"          aplicacion_oportuna",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_establecimiento')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_establecimiento",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          departamento as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT DISTINCT\\n    establecimiento_id,\\n    establecimiento_nombre AS nombre_establecimiento,\\n    departamento,\\n    municipio_nombre AS municipio\\nFROM silver.vacunacion_consolidada\\nWHERE establecimiento_id IS NOT NULL',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_key as integer,",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          tipo_establecimiento as string,",
						"          departamento as string,",
						"          municipio as string,",
						"          red_salud as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          nombre_establecimiento,",
						"          departamento,",
						"          municipio",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_paciente')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_paciente",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          pueblo_indigena as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT DISTINCT\\n    paciente_id,\\n    documento_identidad,\\n    nombres,\\n    apellido_paterno,\\n    apellido_materno,\\n    sexo,\\n    fecha_nacimiento,\\n    pueblo_indigena\\nFROM silver.vacunacion_consolidada\\nWHERE paciente_id IS NOT NULL',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paciente_key as integer,",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          pueblo_indigena as boolean",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          paciente_id,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          pueblo_indigena",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_tiempo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_tiempo",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          fecha_key as integer,",
						"          fecha as date,",
						"          dia_semana as integer,",
						"          nombre_dia as string,",
						"          dia_mes as integer,",
						"          mes as integer,",
						"          nombre_mes as string,",
						"          trimestre as integer,",
						"          anio as integer,",
						"          es_fin_semana as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT \\n    CAST(CONVERT(VARCHAR(8), CAST(s.fecha_vacunacion AS DATE), 112) AS INT) AS fecha_key,\\n    CAST(s.fecha_vacunacion AS DATE) AS fecha,\\n    DATEPART(WEEKDAY, s.fecha_vacunacion) AS dia_semana,\\n    DATENAME(WEEKDAY, s.fecha_vacunacion) AS nombre_dia,\\n    DAY(s.fecha_vacunacion) AS dia_mes,\\n    MONTH(s.fecha_vacunacion) AS mes,\\n    DATENAME(MONTH, s.fecha_vacunacion) AS nombre_mes,\\n    DATEPART(QUARTER, s.fecha_vacunacion) AS trimestre,\\n    YEAR(s.fecha_vacunacion) AS anio,\\n    CASE \\n        WHEN DATEPART(WEEKDAY, s.fecha_vacunacion) IN (6, 7) THEN 1 \\n        ELSE 0 \\n    END AS es_fin_semana\\nFROM (\\n    SELECT DISTINCT CAST(fecha_vacunacion AS DATE) AS fecha_vacunacion\\n    FROM silver.vacunacion_consolidada\\n    WHERE fecha_vacunacion IS NOT NULL\\n) s',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vacuna_key as integer,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          via_administracion as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          fecha_key,",
						"          fecha,",
						"          dia_semana,",
						"          nombre_dia,",
						"          dia_mes,",
						"          mes,",
						"          nombre_mes,",
						"          trimestre,",
						"          anio,",
						"          es_fin_semana",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_vacuna')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_vacuna",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          via_administracion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT DISTINCT\\n    vacuna_id,\\n    vacuna_nombre,\\n    via_administracion\\nFROM silver.vacunacion_consolidada\\nWHERE vacuna_id IS NOT NULL',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vacuna_key as integer,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          via_administracion as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          via_administracion",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_hechos_vacunacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "vacunacionconsolidada"
						},
						{
							"dataset": {
								"referenceName": "gold_dim_establecimiento",
								"type": "DatasetReference"
							},
							"name": "dimestablecimiento"
						},
						{
							"dataset": {
								"referenceName": "gold_dim_paciente",
								"type": "DatasetReference"
							},
							"name": "dimpaciente"
						},
						{
							"dataset": {
								"referenceName": "gold_dim_vacuna",
								"type": "DatasetReference"
							},
							"name": "dimvacuna"
						},
						{
							"dataset": {
								"referenceName": "gold_dim_tiempo",
								"type": "DatasetReference"
							},
							"name": "dimtiempo"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_hechos_vacunacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "lookup1"
						},
						{
							"name": "lookup2"
						},
						{
							"name": "lookup3"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "lookup4"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          registro_id as string,",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          municipio_nombre as string,",
						"          municipio_id as string,",
						"          pueblo_indigena as boolean,",
						"          fecha_vacunacion as timestamp,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          numero_dosis as integer,",
						"          establecimiento_id as string,",
						"          establecimiento_nombre as string,",
						"          departamento as string,",
						"          lote_vacuna as string,",
						"          temperatura_conservacion as decimal(5,2),",
						"          edad_dias_aplicacion as integer,",
						"          via_administracion as string,",
						"          latitud as decimal(12,8),",
						"          longitud as decimal(12,8),",
						"          observaciones as string,",
						"          origen_datos as string,",
						"          aplicacion_oportuna as boolean,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> vacunacionconsolidada",
						"source(output(",
						"          establecimiento_key as integer,",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          tipo_establecimiento as string,",
						"          departamento as string,",
						"          municipio as string,",
						"          red_salud as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimestablecimiento",
						"source(output(",
						"          paciente_key as integer,",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          pueblo_indigena as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimpaciente",
						"source(output(",
						"          vacuna_key as integer,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          via_administracion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimvacuna",
						"source(output(",
						"          fecha_key as integer,",
						"          fecha as date,",
						"          dia_semana as integer,",
						"          nombre_dia as string,",
						"          dia_mes as integer,",
						"          mes as integer,",
						"          nombre_mes as string,",
						"          trimestre as integer,",
						"          anio as integer,",
						"          es_fin_semana as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimtiempo",
						"vacunacionconsolidada, dimestablecimiento lookup(vacunacionconsolidada@establecimiento_id == dimestablecimiento@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"lookup1, dimpaciente lookup(vacunacionconsolidada@paciente_id == dimpaciente@paciente_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup2",
						"lookup2, dimvacuna lookup(vacunacionconsolidada@vacuna_id == dimvacuna@vacuna_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup3",
						"lookup3 derive(fecha_vacunacion = toDate(fecha_vacunacion)) ~> derivedColumn1",
						"derivedColumn1, dimtiempo lookup(fecha_vacunacion == fecha,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup4",
						"lookup4 select(mapColumn(",
						"          registro_id,",
						"          numero_dosis,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          latitud,",
						"          longitud,",
						"          observaciones,",
						"          origen_datos,",
						"          aplicacion_oportuna,",
						"          establecimiento_key,",
						"          paciente_key,",
						"          vacuna_key,",
						"          fecha_key",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vacunacion_key as integer,",
						"          fecha_key as integer,",
						"          paciente_key as integer,",
						"          vacuna_key as integer,",
						"          establecimiento_key as integer,",
						"          numero_dosis as decimal(4,1),",
						"          temperatura_conservacion as decimal(4,1),",
						"          edad_dias_aplicacion as integer,",
						"          aplicacion_oportuna as boolean,",
						"          latitud as decimal(12,8),",
						"          longitud as decimal(12,8),",
						"          origen_datos as string,",
						"          lote_vacuna as string,",
						"          observaciones as string,",
						"          registro_id as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          fecha_key,",
						"          paciente_key,",
						"          vacuna_key,",
						"          establecimiento_key,",
						"          numero_dosis,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          aplicacion_oportuna,",
						"          latitud,",
						"          longitud,",
						"          origen_datos,",
						"          lote_vacuna,",
						"          observaciones,",
						"          registro_id",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETL_vacunas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "bronze_municipios",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_catalogo_departamento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "bronze_establecimientos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "bronze_municipios",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_catalogo_establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "bronze_vacunas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "bronze_establecimientos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_catalogo_vacunas_pai",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "bronze_vacunacion_consolidada",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "bronze_vacunas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_vacunacion_consolidada",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"source3": {},
									"source4": {},
									"source5": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Script_limpiar_gold",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "bronze_vacunacion_consolidada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "dw_vacunas",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DELETE from gold.dim_establecimiento;\nDELETE from gold.dim_paciente;\nDELETE from gold.dim_vacuna;\nDELETE from gold.dim_tiempo;\nDELETE from gold.hechos_vacunacion"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "gold_dim_establecimiento",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Script_limpiar_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_establecimiento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "gold_dim_paciente",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "gold_dim_establecimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_paciente",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "gold_dim_vacuna",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "gold_dim_paciente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_vacuna",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "gold_dim_tiempo",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "gold_dim_vacuna",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_tiempo",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "gold_hechos_vacunacion",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "gold_dim_tiempo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_hechos_vacunacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"vacunacionconsolidada": {},
									"dimestablecimiento": {},
									"dimpaciente": {},
									"dimvacuna": {},
									"dimtiempo": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_bronze_vacunacion_consolidada')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_establecimiento')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_paciente')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_vacuna')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_tiempo')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_hechos_vacunacion')]"
			]
		}
	]
}