adf-ucb-dw-vacunas-22194/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-dw-vacunas-22194"
		},
		"datalake_vacunas_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"datalake_vacunas\""
		},
		"dw_vacunas_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"dw_vacunas\""
		},
		"dw_vacunas_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-sisger-vacunas-22194.database.windows.net"
		},
		"dw_vacunas_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw_vacunas"
		},
		"dw_vacunas_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sarah"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ETL_vacunas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "bronze_municipios",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_catalogo_departamento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "bronze_establecimientos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "bronze_municipios",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_catalogo_establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "bronze_vacunas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "bronze_establecimientos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_catalogo_vacunas_pai",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "bronze_vacunacion_consolidada",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "bronze_vacunas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_vacunacion_consolidada",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"source3": {},
									"source4": {},
									"source5": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Script_limpiar_gold",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "bronze_vacunacion_consolidada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "dw_vacunas",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DELETE from gold.dim_establecimiento;\nDELETE from gold.dim_paciente;\nDELETE from gold.dim_vacuna;\nDELETE from gold.dim_tiempo;\nDELETE from gold.hechos_vacunacion"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "gold_dim_establecimiento",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Script_limpiar_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_establecimiento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "gold_dim_paciente",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "gold_dim_establecimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_paciente",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "gold_dim_vacuna",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "gold_dim_paciente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_vacuna",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "gold_dim_tiempo",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "gold_dim_vacuna",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_tiempo",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "gold_hechos_vacunacion",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "gold_dim_tiempo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_hechos_vacunacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"vacunacionconsolidada": {},
									"dimestablecimiento": {},
									"dimpaciente": {},
									"dimvacuna": {},
									"dimtiempo": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_bronze_catalogo_departamento')]",
				"[concat(variables('factoryId'), '/dataflows/df_bronze_catalogo_establecimientos')]",
				"[concat(variables('factoryId'), '/dataflows/df_bronze_catalogo_vacunas_pai')]",
				"[concat(variables('factoryId'), '/dataflows/df_bronze_vacunacion_consolidada')]",
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_establecimiento')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_paciente')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_vacuna')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_tiempo')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_hechos_vacunacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/catalogo_departamentos_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "catalogo_departamentos.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "municipio_id",
						"type": "String"
					},
					{
						"name": "municipio_nombre",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "codigo_departamento",
						"type": "String"
					},
					{
						"name": "zona_geografica",
						"type": "String"
					},
					{
						"name": "es_capital_departamental",
						"type": "String"
					},
					{
						"name": "poblacion_depto_estimada",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/catalogo_establecimientos_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "catalogo_establecimientos.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "nombre_establecimiento",
						"type": "String"
					},
					{
						"name": "tipo_establecimiento",
						"type": "String"
					},
					{
						"name": "nivel_atencion",
						"type": "String"
					},
					{
						"name": "zona",
						"type": "String"
					},
					{
						"name": "sedes",
						"type": "String"
					},
					{
						"name": "red_salud",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "latitud",
						"type": "String"
					},
					{
						"name": "longitud",
						"type": "String"
					},
					{
						"name": "tiene_cadena_frio",
						"type": "String"
					},
					{
						"name": "activo",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/catalogo_vacunas_pai_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "catalogo_vacunas_pai.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "vacuna_id",
						"type": "String"
					},
					{
						"name": "vacuna_nombre",
						"type": "String"
					},
					{
						"name": "enfermedad_previene",
						"type": "String"
					},
					{
						"name": "grupo_pai",
						"type": "String"
					},
					{
						"name": "numero_dosis",
						"type": "String"
					},
					{
						"name": "dosis_descripcion",
						"type": "String"
					},
					{
						"name": "edad_aplicacion_descripcion",
						"type": "String"
					},
					{
						"name": "edad_minima_dias",
						"type": "String"
					},
					{
						"name": "edad_maxima_dias",
						"type": "String"
					},
					{
						"name": "intervalo_minimo_dias",
						"type": "String"
					},
					{
						"name": "via_administracion",
						"type": "String"
					},
					{
						"name": "sitio_aplicacion",
						"type": "String"
					},
					{
						"name": "dosis_ml",
						"type": "String"
					},
					{
						"name": "condicion_especial",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gold_dim_establecimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "nombre_establecimiento",
						"type": "varchar"
					},
					{
						"name": "tipo_establecimiento",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "red_salud",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_establecimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gold_dim_paciente')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "paciente_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "paciente_id",
						"type": "varchar"
					},
					{
						"name": "documento_identidad",
						"type": "varchar"
					},
					{
						"name": "nombres",
						"type": "varchar"
					},
					{
						"name": "apellido_paterno",
						"type": "varchar"
					},
					{
						"name": "apellido_materno",
						"type": "varchar"
					},
					{
						"name": "sexo",
						"type": "char"
					},
					{
						"name": "fecha_nacimiento",
						"type": "date"
					},
					{
						"name": "pueblo_indigena",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_paciente"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gold_dim_tiempo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "vacuna_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "vacuna_id",
						"type": "varchar"
					},
					{
						"name": "vacuna_nombre",
						"type": "varchar"
					},
					{
						"name": "enfermedad_previene",
						"type": "varchar"
					},
					{
						"name": "grupo_pai",
						"type": "varchar"
					},
					{
						"name": "via_administracion",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_tiempo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gold_dim_vacuna')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "vacuna_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "vacuna_id",
						"type": "varchar"
					},
					{
						"name": "vacuna_nombre",
						"type": "varchar"
					},
					{
						"name": "enfermedad_previene",
						"type": "varchar"
					},
					{
						"name": "grupo_pai",
						"type": "varchar"
					},
					{
						"name": "via_administracion",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_vacuna"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gold_hechos_vacunacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "vacunacion_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "paciente_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "vacuna_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "establecimiento_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "numero_dosis",
						"type": "decimal",
						"precision": 4,
						"scale": 1
					},
					{
						"name": "temperatura_conservacion",
						"type": "decimal",
						"precision": 4,
						"scale": 1
					},
					{
						"name": "edad_dias_aplicacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "aplicacion_oportuna",
						"type": "bit"
					},
					{
						"name": "latitud",
						"type": "decimal",
						"precision": 12,
						"scale": 8
					},
					{
						"name": "longitud",
						"type": "decimal",
						"precision": 12,
						"scale": 8
					},
					{
						"name": "origen_datos",
						"type": "varchar"
					},
					{
						"name": "lote_vacuna",
						"type": "varchar"
					},
					{
						"name": "observaciones",
						"type": "varchar"
					},
					{
						"name": "registro_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_vacunacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "vacuna_id",
						"type": "varchar"
					},
					{
						"name": "vacuna_nombre",
						"type": "varchar"
					},
					{
						"name": "enfermedad_previene",
						"type": "varchar"
					},
					{
						"name": "grupo_pai",
						"type": "varchar"
					},
					{
						"name": "numero_dosis",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dosis_descripcion",
						"type": "varchar"
					},
					{
						"name": "edad_aplicacion_descripcion",
						"type": "varchar"
					},
					{
						"name": "edad_minima_dias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "edad_maxima_dias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "intervalo_minimo_dias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "via_administracion",
						"type": "varchar"
					},
					{
						"name": "sitio_aplicacion",
						"type": "varchar"
					},
					{
						"name": "dosis_ml",
						"type": "decimal",
						"precision": 4,
						"scale": 2
					},
					{
						"name": "condicion_especial",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "establecimientos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_municipios')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "municipio_id",
						"type": "varchar"
					},
					{
						"name": "municipio_nombre",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "codigo_departamento",
						"type": "varchar"
					},
					{
						"name": "zona_geografica",
						"type": "varchar"
					},
					{
						"name": "es_capital_departamental",
						"type": "bit"
					},
					{
						"name": "poblacion_depto_estimada",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "municipios"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_vacunacion_consolidada')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "registro_id",
						"type": "varchar"
					},
					{
						"name": "paciente_id",
						"type": "varchar"
					},
					{
						"name": "documento_identidad",
						"type": "varchar"
					},
					{
						"name": "nombres",
						"type": "varchar"
					},
					{
						"name": "apellido_paterno",
						"type": "varchar"
					},
					{
						"name": "apellido_materno",
						"type": "varchar"
					},
					{
						"name": "sexo",
						"type": "char"
					},
					{
						"name": "fecha_nacimiento",
						"type": "date"
					},
					{
						"name": "municipio_nombre",
						"type": "varchar"
					},
					{
						"name": "municipio_id",
						"type": "varchar"
					},
					{
						"name": "pueblo_indigena",
						"type": "bit"
					},
					{
						"name": "fecha_vacunacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "vacuna_id",
						"type": "varchar"
					},
					{
						"name": "vacuna_nombre",
						"type": "varchar"
					},
					{
						"name": "numero_dosis",
						"type": "int",
						"precision": 10
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "establecimiento_nombre",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "lote_vacuna",
						"type": "varchar"
					},
					{
						"name": "temperatura_conservacion",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "edad_dias_aplicacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "via_administracion",
						"type": "varchar"
					},
					{
						"name": "latitud",
						"type": "decimal",
						"precision": 12,
						"scale": 8
					},
					{
						"name": "longitud",
						"type": "decimal",
						"precision": 12,
						"scale": 8
					},
					{
						"name": "observaciones",
						"type": "varchar"
					},
					{
						"name": "origen_datos",
						"type": "varchar"
					},
					{
						"name": "aplicacion_oportuna",
						"type": "bit"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "vacunacion_consolidada"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_vacunas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "vacuna_id",
						"type": "varchar"
					},
					{
						"name": "vacuna_nombre",
						"type": "varchar"
					},
					{
						"name": "enfermedad_previene",
						"type": "varchar"
					},
					{
						"name": "grupo_pai",
						"type": "varchar"
					},
					{
						"name": "numero_dosis",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dosis_descripcion",
						"type": "varchar"
					},
					{
						"name": "edad_aplicacion_descripcion",
						"type": "varchar"
					},
					{
						"name": "edad_minima_dias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "edad_maxima_dias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "intervalo_minimo_dias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "via_administracion",
						"type": "varchar"
					},
					{
						"name": "sitio_aplicacion",
						"type": "varchar"
					},
					{
						"name": "dosis_ml",
						"type": "decimal",
						"precision": 4,
						"scale": 2
					},
					{
						"name": "condicion_especial",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "vacunas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vacunacion_la_paz_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "vacunacion_la_paz.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_registro",
						"type": "String"
					},
					{
						"name": "cod_paciente",
						"type": "String"
					},
					{
						"name": "documento_identidad",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "primer_apellido",
						"type": "String"
					},
					{
						"name": "segundo_apellido",
						"type": "String"
					},
					{
						"name": "genero",
						"type": "String"
					},
					{
						"name": "fec_nacimiento",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "pueblo_indigena",
						"type": "String"
					},
					{
						"name": "fec_vacunacion",
						"type": "String"
					},
					{
						"name": "cod_vacuna",
						"type": "String"
					},
					{
						"name": "desc_vacuna",
						"type": "String"
					},
					{
						"name": "nro_dosis",
						"type": "String"
					},
					{
						"name": "cod_establecimiento",
						"type": "String"
					},
					{
						"name": "desc_establecimiento",
						"type": "String"
					},
					{
						"name": "depto",
						"type": "String"
					},
					{
						"name": "nro_lote",
						"type": "String"
					},
					{
						"name": "temp_conservacion",
						"type": "String"
					},
					{
						"name": "edad_dias",
						"type": "String"
					},
					{
						"name": "via_aplicacion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vacunacion_rural_movil_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "vacunacion_rural_movil.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "record_id",
						"type": "String"
					},
					{
						"name": "sync_timestamp",
						"type": "String"
					},
					{
						"name": "device_id",
						"type": "String"
					},
					{
						"name": "patient_id",
						"type": "String"
					},
					{
						"name": "patient_ci",
						"type": "String"
					},
					{
						"name": "patient_name",
						"type": "String"
					},
					{
						"name": "patient_last_name_1",
						"type": "String"
					},
					{
						"name": "patient_last_name_2",
						"type": "String"
					},
					{
						"name": "patient_sex",
						"type": "String"
					},
					{
						"name": "patient_birth_date",
						"type": "String"
					},
					{
						"name": "patient_department",
						"type": "String"
					},
					{
						"name": "patient_municipality",
						"type": "String"
					},
					{
						"name": "patient_community",
						"type": "String"
					},
					{
						"name": "patient_indigenous",
						"type": "String"
					},
					{
						"name": "vaccination_date",
						"type": "String"
					},
					{
						"name": "vaccine_code",
						"type": "String"
					},
					{
						"name": "vaccine_name",
						"type": "String"
					},
					{
						"name": "dose_number",
						"type": "String"
					},
					{
						"name": "facility_code",
						"type": "String"
					},
					{
						"name": "facility_name",
						"type": "String"
					},
					{
						"name": "lot_number",
						"type": "String"
					},
					{
						"name": "storage_temp_celsius",
						"type": "String"
					},
					{
						"name": "patient_age_days",
						"type": "String"
					},
					{
						"name": "administration_route",
						"type": "String"
					},
					{
						"name": "gps_latitude",
						"type": "String"
					},
					{
						"name": "gps_longitude",
						"type": "String"
					},
					{
						"name": "gps_accuracy_meters",
						"type": "String"
					},
					{
						"name": "observations",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vacunacion_santa_cruz_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_vacunas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "vacunacion_santa_cruz.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "registro_id;paciente_id;ci_paciente;nombre_paciente;apellido_paterno;apellido_materno;sexo;fecha_nacimiento;municipio_residencia;comunidad_indigena;fecha_vacunacion;vacuna_id;vacuna_nombre;numero_dosis;establecimiento_id;nombre_establecimiento;departamento;lote_vacuna;temperatura_conservacion;edad_dias_aplicacion;aplicacion_oportuna;via_administracion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_vacunas')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('datalake_vacunas_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw_vacunas')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('dw_vacunas_properties_typeProperties_server')]",
					"database": "[parameters('dw_vacunas_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('dw_vacunas_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('dw_vacunas_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_catalogo_departamento')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "catalogo_departamentos_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_municipios",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          municipio_id as string,",
						"          municipio_nombre as string,",
						"          departamento as string,",
						"          codigo_departamento as string,",
						"          zona_geografica as string,",
						"          es_capital_departamental as string,",
						"          poblacion_depto_estimada as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(municipio_id = trim(municipio_id),",
						"          municipio_nombre = trim(municipio_nombre),",
						"          departamento = upper(substring(lower(departamento),1,1))\r",
						"+\r",
						"substring(lower(departamento),2),",
						"          codigo_departamento = upper(trim(codigo_departamento)),",
						"          zona_geografica = trim(zona_geografica),",
						"          es_capital_departamental = trim(es_capital_departamental),",
						"          poblacion_depto_estimada = trim(poblacion_depto_estimada)) ~> derivedColumn1",
						"derivedColumn1 derive(poblacion_depto_estimada = toInteger(poblacion_depto_estimada),",
						"          es_capital_departamental = toBoolean(es_capital_departamental)) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          municipio_id as string,",
						"          municipio_nombre as string,",
						"          departamento as string,",
						"          codigo_departamento as string,",
						"          zona_geografica as string,",
						"          es_capital_departamental as boolean,",
						"          poblacion_depto_estimada as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          municipio_id,",
						"          municipio_nombre,",
						"          departamento,",
						"          codigo_departamento,",
						"          zona_geografica,",
						"          es_capital_departamental,",
						"          poblacion_depto_estimada",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/catalogo_departamentos_csv')]",
				"[concat(variables('factoryId'), '/datasets/silver_municipios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_catalogo_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "catalogo_establecimientos_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_establecimientos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          tipo_establecimiento as string,",
						"          nivel_atencion as string,",
						"          zona as string,",
						"          sedes as string,",
						"          red_salud as string,",
						"          departamento as string,",
						"          municipio as string,",
						"          latitud as string,",
						"          longitud as string,",
						"          tiene_cadena_frio as string,",
						"          activo as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(establecimiento_id = trim(establecimiento_id),",
						"          nombre_establecimiento = trim(nombre_establecimiento),",
						"          tipo_establecimiento = trim(tipo_establecimiento),",
						"          nivel_atencion = trim(nivel_atencion),",
						"          zona = trim(zona),",
						"          sedes = trim(sedes),",
						"          red_salud = trim(red_salud),",
						"          departamento = trim(departamento),",
						"          municipio = trim(municipio),",
						"          latitud = trim(latitud),",
						"          longitud = trim(longitud),",
						"          tiene_cadena_frio = trim(tiene_cadena_frio),",
						"          activo = trim(activo)) ~> derivedColumn1",
						"derivedColumn1 derive(establecimiento_id = upper(establecimiento_id),",
						"          tiene_cadena_frio = toBoolean(tiene_cadena_frio),",
						"          activo = toBoolean(activo),",
						"          nivel_atencion = toInteger(nivel_atencion),",
						"          latitud = toDecimal(\r",
						"    concat(\r",
						"        substring(replace(latitud,'.',''),1,3),\r",
						"        '.',\r",
						"        substring(replace(latitud,'.',''),4)\r",
						"    ),\r",
						"12,\r",
						"6\r",
						"),",
						"          longitud = iif(\r",
						"    size(split(longitud, '\\\\.')) > 2,\r",
						"\r",
						"    toDecimal(\r",
						"        regexReplace(longitud, '\\\\.(?=[^.]*$)', ''),\r",
						"    12,6),\r",
						"\r",
						"    toDecimal(\r",
						"        concat(\r",
						"            substring(replace(longitud,'.',''),1,\r",
						"                length(replace(longitud,'.',''))-6\r",
						"            ),\r",
						"            '.',\r",
						"            right(replace(longitud,'.',''),6)\r",
						"        ),\r",
						"    12,6)\r",
						")) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          numero_dosis as integer,",
						"          dosis_descripcion as string,",
						"          edad_aplicacion_descripcion as string,",
						"          edad_minima_dias as integer,",
						"          edad_maxima_dias as integer,",
						"          intervalo_minimo_dias as integer,",
						"          via_administracion as string,",
						"          sitio_aplicacion as string,",
						"          dosis_ml as decimal(4,2),",
						"          condicion_especial as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          nombre_establecimiento,",
						"          tipo_establecimiento,",
						"          nivel_atencion,",
						"          zona,",
						"          sedes,",
						"          red_salud,",
						"          departamento,",
						"          municipio,",
						"          latitud,",
						"          longitud,",
						"          tiene_cadena_frio,",
						"          activo",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/catalogo_establecimientos_csv')]",
				"[concat(variables('factoryId'), '/datasets/silver_establecimientos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_catalogo_vacunas_pai')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "catalogo_vacunas_pai_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_vacunas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "derivedColumn3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          numero_dosis as string,",
						"          dosis_descripcion as string,",
						"          edad_aplicacion_descripcion as string,",
						"          edad_minima_dias as string,",
						"          edad_maxima_dias as string,",
						"          intervalo_minimo_dias as string,",
						"          via_administracion as string,",
						"          sitio_aplicacion as string,",
						"          dosis_ml as string,",
						"          condicion_especial as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(vacuna_id = trim(vacuna_id),",
						"          vacuna_nombre = trim(vacuna_nombre),",
						"          enfermedad_previene = trim(enfermedad_previene),",
						"          grupo_pai = trim(grupo_pai),",
						"          numero_dosis = trim(numero_dosis),",
						"          dosis_descripcion = trim(dosis_descripcion),",
						"          edad_aplicacion_descripcion = trim(edad_aplicacion_descripcion),",
						"          edad_minima_dias = trim(edad_minima_dias),",
						"          edad_maxima_dias = trim(edad_maxima_dias),",
						"          intervalo_minimo_dias = trim(intervalo_minimo_dias),",
						"          via_administracion = trim(via_administracion),",
						"          sitio_aplicacion = trim(sitio_aplicacion),",
						"          dosis_ml = trim(dosis_ml),",
						"          condicion_especial = trim(condicion_especial)) ~> derivedColumn1",
						"derivedColumn1 derive(numero_dosis = toInteger(numero_dosis),",
						"          edad_minima_dias = toInteger(edad_minima_dias),",
						"          edad_maxima_dias = toInteger(edad_maxima_dias),",
						"          intervalo_minimo_dias = toInteger(intervalo_minimo_dias),",
						"          dosis_ml = toDecimal(dosis_ml)) ~> derivedColumn2",
						"derivedColumn2 derive(intervalo_minimo_dias = iif(\r",
						"    isNull(intervalo_minimo_dias) \r",
						"    || trim(toString(intervalo_minimo_dias)) == '',\r",
						"    0,\r",
						"    toInteger(floor(toDecimal(toString(intervalo_minimo_dias))))\r",
						"),",
						"          condicion_especial = iif(\r",
						"    isNull(trim(condicion_especial)) || trim(condicion_especial) == '',\r",
						"    'No Aplica',\r",
						"    trim(condicion_especial)\r",
						")) ~> derivedColumn3",
						"derivedColumn3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          numero_dosis as integer,",
						"          dosis_descripcion as string,",
						"          edad_aplicacion_descripcion as string,",
						"          edad_minima_dias as integer,",
						"          edad_maxima_dias as integer,",
						"          intervalo_minimo_dias as integer,",
						"          via_administracion as string,",
						"          sitio_aplicacion as string,",
						"          dosis_ml as decimal(4,2),",
						"          condicion_especial as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          enfermedad_previene,",
						"          grupo_pai,",
						"          numero_dosis,",
						"          dosis_descripcion,",
						"          edad_aplicacion_descripcion,",
						"          edad_minima_dias,",
						"          edad_maxima_dias,",
						"          intervalo_minimo_dias,",
						"          via_administracion,",
						"          sitio_aplicacion,",
						"          dosis_ml,",
						"          condicion_especial",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/catalogo_vacunas_pai_csv')]",
				"[concat(variables('factoryId'), '/datasets/silver_vacunas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_vacunacion_consolidada')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "vacunacion_la_paz_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "vacunacion_santa_cruz_csv",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "vacunacion_rural_movil_csv",
								"type": "DatasetReference"
							},
							"name": "source3"
						},
						{
							"dataset": {
								"referenceName": "silver_establecimientos",
								"type": "DatasetReference"
							},
							"name": "source4"
						},
						{
							"dataset": {
								"referenceName": "silver_municipios",
								"type": "DatasetReference"
							},
							"name": "source5"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1",
							"description": "Se está cambiando el nombre de source1 a select1 con las columnas \"registro_id, paciente_id, documento_identidad, nombres, apellido_paterno, apellido_materno, sexo, fecha_nacimiento, municipio_nombre, pueblo_indigena, fecha_vacunacion, vacuna_id, vacuna_nombre, numero_dosis, establecimiento_id, establecimiento_nombre, departamento, lote_vacuna, temperatura_conservacion, edad_dias_aplicacion, via_administracion\"."
						},
						{
							"name": "select2"
						},
						{
							"name": "select3"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "derivedColumn4"
						},
						{
							"name": "derivedColumn5"
						},
						{
							"name": "derivedColumn6"
						},
						{
							"name": "union1"
						},
						{
							"name": "union2"
						},
						{
							"name": "derivedColumn7"
						},
						{
							"name": "lookup1"
						},
						{
							"name": "select4"
						},
						{
							"name": "lookup2"
						},
						{
							"name": "select5"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_registro as string,",
						"          cod_paciente as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          primer_apellido as string,",
						"          segundo_apellido as string,",
						"          genero as string,",
						"          fec_nacimiento as string,",
						"          municipio as string,",
						"          pueblo_indigena as string,",
						"          fec_vacunacion as string,",
						"          cod_vacuna as string,",
						"          desc_vacuna as string,",
						"          nro_dosis as string,",
						"          cod_establecimiento as string,",
						"          desc_establecimiento as string,",
						"          depto as string,",
						"          nro_lote as string,",
						"          temp_conservacion as string,",
						"          edad_dias as string,",
						"          via_aplicacion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          registro_id as string,",
						"          paciente_id as string,",
						"          ci_paciente as string,",
						"          nombre_paciente as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as string,",
						"          municipio_residencia as string,",
						"          comunidad_indigena as string,",
						"          fecha_vacunacion as string,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          numero_dosis as string,",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          departamento as string,",
						"          lote_vacuna as string,",
						"          temperatura_conservacion as string,",
						"          edad_dias_aplicacion as string,",
						"          aplicacion_oportuna as string,",
						"          via_administracion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source(output(",
						"          record_id as string,",
						"          sync_timestamp as string,",
						"          device_id as string,",
						"          patient_id as string,",
						"          patient_ci as string,",
						"          patient_name as string,",
						"          patient_last_name_1 as string,",
						"          patient_last_name_2 as string,",
						"          patient_sex as string,",
						"          patient_birth_date as string,",
						"          patient_department as string,",
						"          patient_municipality as string,",
						"          patient_community as string,",
						"          patient_indigenous as string,",
						"          vaccination_date as string,",
						"          vaccine_code as string,",
						"          vaccine_name as string,",
						"          dose_number as string,",
						"          facility_code as string,",
						"          facility_name as string,",
						"          lot_number as string,",
						"          storage_temp_celsius as string,",
						"          patient_age_days as string,",
						"          administration_route as string,",
						"          gps_latitude as string,",
						"          gps_longitude as string,",
						"          gps_accuracy_meters as string,",
						"          observations as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source3",
						"source(output(",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          tipo_establecimiento as string,",
						"          nivel_atencion as integer,",
						"          zona as string,",
						"          sedes as string,",
						"          red_salud as string,",
						"          departamento as string,",
						"          municipio as string,",
						"          latitud as decimal(12,8),",
						"          longitud as decimal(12,8),",
						"          tiene_cadena_frio as boolean,",
						"          activo as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source4",
						"source(output(",
						"          municipio_id as string,",
						"          municipio_nombre as string,",
						"          departamento as string,",
						"          codigo_departamento as string,",
						"          zona_geografica as string,",
						"          es_capital_departamental as boolean,",
						"          poblacion_depto_estimada as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source5",
						"source1 select(mapColumn(",
						"          registro_id = id_registro,",
						"          paciente_id = cod_paciente,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno = primer_apellido,",
						"          apellido_materno = segundo_apellido,",
						"          sexo = genero,",
						"          fecha_nacimiento = fec_nacimiento,",
						"          municipio_nombre = municipio,",
						"          pueblo_indigena,",
						"          fecha_vacunacion = fec_vacunacion,",
						"          vacuna_id = cod_vacuna,",
						"          vacuna_nombre = desc_vacuna,",
						"          numero_dosis = nro_dosis,",
						"          establecimiento_id = cod_establecimiento,",
						"          establecimiento_nombre = desc_establecimiento,",
						"          departamento = depto,",
						"          lote_vacuna = nro_lote,",
						"          temperatura_conservacion = temp_conservacion,",
						"          edad_dias_aplicacion = edad_dias,",
						"          via_administracion = via_aplicacion",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"source2 select(mapColumn(",
						"          registro_id,",
						"          paciente_id,",
						"          documento_identidad = ci_paciente,",
						"          nombres = nombre_paciente,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          municipio_nombre = municipio_residencia,",
						"          pueblo_indigena = comunidad_indigena,",
						"          fecha_vacunacion,",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          numero_dosis,",
						"          establecimiento_id,",
						"          establecimiento_nombre = nombre_establecimiento,",
						"          departamento,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          aplicacion_oportuna,",
						"          via_administracion",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"source3 select(mapColumn(",
						"          registro_id = record_id,",
						"          paciente_id = patient_id,",
						"          documento_identidad = patient_ci,",
						"          nombres = patient_name,",
						"          apellido_paterno = patient_last_name_1,",
						"          apellido_materno = patient_last_name_2,",
						"          sexo = patient_sex,",
						"          fecha_nacimiento = patient_birth_date,",
						"          departamento = patient_department,",
						"          municipio_nombre = patient_municipality,",
						"          pueblo_indigena = patient_indigenous,",
						"          fecha_vacunacion = vaccination_date,",
						"          vacuna_id = vaccine_code,",
						"          vacuna_nombre = vaccine_name,",
						"          numero_dosis = dose_number,",
						"          establecimiento_id = facility_code,",
						"          establecimiento_nombre = facility_name,",
						"          lote_vacuna = lot_number,",
						"          temperatura_conservacion = storage_temp_celsius,",
						"          edad_dias_aplicacion = patient_age_days,",
						"          via_administracion = administration_route,",
						"          latitud = gps_latitude,",
						"          longitud = gps_longitude,",
						"          observaciones = observations",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"select1 derive(pueblo_indigena = iif(upper(trim(pueblo_indigena)) == 'SÍ', true(), false()),",
						"          sexo = iif(     upper(trim(sexo)) == 'MASCULINO',     'M',     'F' ),",
						"          fecha_nacimiento = toDate(fecha_nacimiento, 'dd/MM/yyyy'),",
						"          fecha_vacunacion = toTimestamp(fecha_vacunacion, 'dd/MM/yyyy'),",
						"          documento_identidad = replace(documento_identidad, ' LP', ''),",
						"          departamento = upper(trim(departamento)),",
						"          numero_dosis = toInteger(numero_dosis),",
						"          edad_dias_aplicacion = toInteger(edad_dias_aplicacion),",
						"          temperatura_conservacion = toDecimal(temperatura_conservacion),",
						"          origen_datos = 'LA PAZ') ~> derivedColumn1",
						"select2 derive(pueblo_indigena = iif(upper(trim(pueblo_indigena)) == 'true', true(), false()),",
						"          fecha_nacimiento = toDate(fecha_nacimiento,'d/M/yyyy'),",
						"          fecha_vacunacion = toTimestamp(fecha_vacunacion,'d/M/yyyy'),",
						"          numero_dosis = toInteger(numero_dosis),",
						"          departamento = trim(departamento),",
						"          temperatura_conservacion = toDecimal(temperatura_conservacion),",
						"          edad_dias_aplicacion = toInteger(edad_dias_aplicacion),",
						"          aplicacion_oportuna = toBoolean(aplicacion_oportuna),",
						"          documento_identidad = replace(documento_identidad, ' SC', '')) ~> derivedColumn2",
						"select3 derive(pueblo_indigena = iif(pueblo_indigena == 'True', true(), false()),",
						"          sexo = upper(trim(sexo)),",
						"          numero_dosis = toInteger(numero_dosis),",
						"          fecha_nacimiento = toDate(fecha_nacimiento, 'd/M/yyyy'),",
						"          fecha_vacunacion = toTimestamp(fecha_vacunacion, 'yyyy-MM-dd\\'T\\'HH:mm:ss'),",
						"          temperatura_conservacion = toDecimal(temperatura_conservacion),",
						"          edad_dias_aplicacion = toInteger(edad_dias_aplicacion),",
						"          documento_identidad = iif(     isNull(documento_identidad) || trim(documento_identidad) == '',     '00000000',     regexReplace(documento_identidad, '[^0-9]', '') ),",
						"          departamento = upper(trim(departamento))) ~> derivedColumn3",
						"derivedColumn2 derive(departamento = iif(\r",
						"    regexMatch(lower(trim(departamento)), '.*cruz.*'),\r",
						"    'SANTA CRUZ',\r",
						"    upper(trim(departamento))\r",
						"),",
						"          origen_datos = 'SANTA CRUZ') ~> derivedColumn4",
						"derivedColumn3 derive(aplicacion_oportuna = iif(\r",
						"    isNull(fecha_vacunacion),\r",
						"    false(),\r",
						"    iif(\r",
						"        fecha_vacunacion <= currentTimestamp(),\r",
						"        true(),\r",
						"        false()\r",
						"    )\r",
						"),",
						"          latitud = toDecimal(    concat(        substring(replace(latitud,'.',''),1,3),        '.',        substring(replace(latitud,'.',''),4)    ),12,6),",
						"          longitud = iif(    size(split(longitud, '\\\\.')) > 2,    toDecimal(        regexReplace(longitud, '\\\\.(?=[^.]*$)', ''),    12,6),    toDecimal(        concat(            substring(replace(longitud,'.',''),1,                length(replace(longitud,'.',''))-6            ),            '.',            right(replace(longitud,'.',''),6)        ),    12,6)),",
						"          origen_datos = 'RURAL MOVIL') ~> derivedColumn5",
						"derivedColumn1 derive(aplicacion_oportuna = iif(    isNull(fecha_vacunacion),    false(),    iif(        fecha_vacunacion <= currentTimestamp(),        true(),        false()    ))) ~> derivedColumn6",
						"derivedColumn6, derivedColumn4 union(byName: true)~> union1",
						"union1, derivedColumn5 union(byName: true)~> union2",
						"union2 derive(observaciones = iif(\r",
						"    isNull(observaciones),\r",
						"    'sin observaciones',\r",
						"    observaciones\r",
						")) ~> derivedColumn7",
						"derivedColumn7, source4 lookup(union2@establecimiento_id == source4@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"lookup1 select(mapColumn(",
						"          registro_id,",
						"          paciente_id,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          municipio_nombre,",
						"          pueblo_indigena,",
						"          fecha_vacunacion,",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          numero_dosis,",
						"          establecimiento_id = union2@establecimiento_id,",
						"          establecimiento_nombre,",
						"          departamento = union2@departamento,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          via_administracion,",
						"          origen_datos,",
						"          aplicacion_oportuna,",
						"          observaciones,",
						"          latitud = source4@latitud,",
						"          longitud = source4@longitud",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select4",
						"select4, source5 lookup(select4@municipio_nombre == source5@municipio_nombre,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup2",
						"lookup2 select(mapColumn(",
						"          registro_id,",
						"          paciente_id,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          municipio_nombre = select4@municipio_nombre,",
						"          pueblo_indigena,",
						"          fecha_vacunacion,",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          numero_dosis,",
						"          establecimiento_id,",
						"          establecimiento_nombre,",
						"          departamento = select4@departamento,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          via_administracion,",
						"          origen_datos,",
						"          aplicacion_oportuna,",
						"          observaciones,",
						"          latitud,",
						"          longitud,",
						"          municipio_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select5",
						"select5 filter(!isNull(municipio_id)) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          registro_id as string,",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          municipio_nombre as string,",
						"          municipio_id as string,",
						"          pueblo_indigena as boolean,",
						"          fecha_vacunacion as timestamp,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          numero_dosis as integer,",
						"          establecimiento_id as string,",
						"          establecimiento_nombre as string,",
						"          departamento as string,",
						"          lote_vacuna as string,",
						"          temperatura_conservacion as decimal(5,2),",
						"          edad_dias_aplicacion as integer,",
						"          via_administracion as string,",
						"          latitud as decimal(12,8),",
						"          longitud as decimal(12,8),",
						"          observaciones as string,",
						"          origen_datos as string,",
						"          aplicacion_oportuna as boolean,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          registro_id,",
						"          paciente_id,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          municipio_nombre,",
						"          municipio_id,",
						"          pueblo_indigena,",
						"          fecha_vacunacion,",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          numero_dosis,",
						"          establecimiento_id,",
						"          establecimiento_nombre,",
						"          departamento,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          via_administracion,",
						"          latitud,",
						"          longitud,",
						"          observaciones,",
						"          origen_datos,",
						"          aplicacion_oportuna",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/vacunacion_la_paz_csv')]",
				"[concat(variables('factoryId'), '/datasets/vacunacion_santa_cruz_csv')]",
				"[concat(variables('factoryId'), '/datasets/vacunacion_rural_movil_csv')]",
				"[concat(variables('factoryId'), '/datasets/silver_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/silver_municipios')]",
				"[concat(variables('factoryId'), '/datasets/silver_vacunacion_consolidada')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_establecimiento')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_establecimiento",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          departamento as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT DISTINCT\\n    establecimiento_id,\\n    establecimiento_nombre AS nombre_establecimiento,\\n    departamento,\\n    municipio_nombre AS municipio\\nFROM silver.vacunacion_consolidada\\nWHERE establecimiento_id IS NOT NULL',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_key as integer,",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          tipo_establecimiento as string,",
						"          departamento as string,",
						"          municipio as string,",
						"          red_salud as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          nombre_establecimiento,",
						"          departamento,",
						"          municipio",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_vacunacion_consolidada')]",
				"[concat(variables('factoryId'), '/datasets/gold_dim_establecimiento')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_paciente')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_paciente",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          pueblo_indigena as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT DISTINCT\\n    paciente_id,\\n    documento_identidad,\\n    nombres,\\n    apellido_paterno,\\n    apellido_materno,\\n    sexo,\\n    fecha_nacimiento,\\n    pueblo_indigena\\nFROM silver.vacunacion_consolidada\\nWHERE paciente_id IS NOT NULL',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paciente_key as integer,",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          pueblo_indigena as boolean",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          paciente_id,",
						"          documento_identidad,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          sexo,",
						"          fecha_nacimiento,",
						"          pueblo_indigena",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_vacunacion_consolidada')]",
				"[concat(variables('factoryId'), '/datasets/gold_dim_paciente')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_tiempo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_tiempo",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          fecha_key as integer,",
						"          fecha as date,",
						"          dia_semana as integer,",
						"          nombre_dia as string,",
						"          dia_mes as integer,",
						"          mes as integer,",
						"          nombre_mes as string,",
						"          trimestre as integer,",
						"          anio as integer,",
						"          es_fin_semana as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT \\n    CAST(CONVERT(VARCHAR(8), CAST(s.fecha_vacunacion AS DATE), 112) AS INT) AS fecha_key,\\n    CAST(s.fecha_vacunacion AS DATE) AS fecha,\\n    DATEPART(WEEKDAY, s.fecha_vacunacion) AS dia_semana,\\n    DATENAME(WEEKDAY, s.fecha_vacunacion) AS nombre_dia,\\n    DAY(s.fecha_vacunacion) AS dia_mes,\\n    MONTH(s.fecha_vacunacion) AS mes,\\n    DATENAME(MONTH, s.fecha_vacunacion) AS nombre_mes,\\n    DATEPART(QUARTER, s.fecha_vacunacion) AS trimestre,\\n    YEAR(s.fecha_vacunacion) AS anio,\\n    CASE \\n        WHEN DATEPART(WEEKDAY, s.fecha_vacunacion) IN (6, 7) THEN 1 \\n        ELSE 0 \\n    END AS es_fin_semana\\nFROM (\\n    SELECT DISTINCT CAST(fecha_vacunacion AS DATE) AS fecha_vacunacion\\n    FROM silver.vacunacion_consolidada\\n    WHERE fecha_vacunacion IS NOT NULL\\n) s',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vacuna_key as integer,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          via_administracion as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          fecha_key,",
						"          fecha,",
						"          dia_semana,",
						"          nombre_dia,",
						"          dia_mes,",
						"          mes,",
						"          nombre_mes,",
						"          trimestre,",
						"          anio,",
						"          es_fin_semana",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_vacunacion_consolidada')]",
				"[concat(variables('factoryId'), '/datasets/gold_dim_tiempo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_vacuna')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_vacuna",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          via_administracion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT DISTINCT\\n    vacuna_id,\\n    vacuna_nombre,\\n    via_administracion\\nFROM silver.vacunacion_consolidada\\nWHERE vacuna_id IS NOT NULL',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vacuna_key as integer,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          via_administracion as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          vacuna_id,",
						"          vacuna_nombre,",
						"          via_administracion",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_vacunacion_consolidada')]",
				"[concat(variables('factoryId'), '/datasets/gold_dim_vacuna')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_hechos_vacunacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_vacunacion_consolidada",
								"type": "DatasetReference"
							},
							"name": "vacunacionconsolidada"
						},
						{
							"dataset": {
								"referenceName": "gold_dim_establecimiento",
								"type": "DatasetReference"
							},
							"name": "dimestablecimiento"
						},
						{
							"dataset": {
								"referenceName": "gold_dim_paciente",
								"type": "DatasetReference"
							},
							"name": "dimpaciente"
						},
						{
							"dataset": {
								"referenceName": "gold_dim_vacuna",
								"type": "DatasetReference"
							},
							"name": "dimvacuna"
						},
						{
							"dataset": {
								"referenceName": "gold_dim_tiempo",
								"type": "DatasetReference"
							},
							"name": "dimtiempo"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_hechos_vacunacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "lookup1"
						},
						{
							"name": "lookup2"
						},
						{
							"name": "lookup3"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "lookup4"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          registro_id as string,",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          municipio_nombre as string,",
						"          municipio_id as string,",
						"          pueblo_indigena as boolean,",
						"          fecha_vacunacion as timestamp,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          numero_dosis as integer,",
						"          establecimiento_id as string,",
						"          establecimiento_nombre as string,",
						"          departamento as string,",
						"          lote_vacuna as string,",
						"          temperatura_conservacion as decimal(5,2),",
						"          edad_dias_aplicacion as integer,",
						"          via_administracion as string,",
						"          latitud as decimal(12,8),",
						"          longitud as decimal(12,8),",
						"          observaciones as string,",
						"          origen_datos as string,",
						"          aplicacion_oportuna as boolean,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> vacunacionconsolidada",
						"source(output(",
						"          establecimiento_key as integer,",
						"          establecimiento_id as string,",
						"          nombre_establecimiento as string,",
						"          tipo_establecimiento as string,",
						"          departamento as string,",
						"          municipio as string,",
						"          red_salud as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimestablecimiento",
						"source(output(",
						"          paciente_key as integer,",
						"          paciente_id as string,",
						"          documento_identidad as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          sexo as string,",
						"          fecha_nacimiento as date,",
						"          pueblo_indigena as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimpaciente",
						"source(output(",
						"          vacuna_key as integer,",
						"          vacuna_id as string,",
						"          vacuna_nombre as string,",
						"          enfermedad_previene as string,",
						"          grupo_pai as string,",
						"          via_administracion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimvacuna",
						"source(output(",
						"          fecha_key as integer,",
						"          fecha as date,",
						"          dia_semana as integer,",
						"          nombre_dia as string,",
						"          dia_mes as integer,",
						"          mes as integer,",
						"          nombre_mes as string,",
						"          trimestre as integer,",
						"          anio as integer,",
						"          es_fin_semana as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimtiempo",
						"vacunacionconsolidada, dimestablecimiento lookup(vacunacionconsolidada@establecimiento_id == dimestablecimiento@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"lookup1, dimpaciente lookup(vacunacionconsolidada@paciente_id == dimpaciente@paciente_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup2",
						"lookup2, dimvacuna lookup(vacunacionconsolidada@vacuna_id == dimvacuna@vacuna_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup3",
						"lookup3 derive(fecha_vacunacion = toDate(fecha_vacunacion)) ~> derivedColumn1",
						"derivedColumn1, dimtiempo lookup(fecha_vacunacion == fecha,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup4",
						"lookup4 select(mapColumn(",
						"          registro_id,",
						"          numero_dosis,",
						"          lote_vacuna,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          latitud,",
						"          longitud,",
						"          observaciones,",
						"          origen_datos,",
						"          aplicacion_oportuna,",
						"          establecimiento_key,",
						"          paciente_key,",
						"          vacuna_key,",
						"          fecha_key",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vacunacion_key as integer,",
						"          fecha_key as integer,",
						"          paciente_key as integer,",
						"          vacuna_key as integer,",
						"          establecimiento_key as integer,",
						"          numero_dosis as decimal(4,1),",
						"          temperatura_conservacion as decimal(4,1),",
						"          edad_dias_aplicacion as integer,",
						"          aplicacion_oportuna as boolean,",
						"          latitud as decimal(12,8),",
						"          longitud as decimal(12,8),",
						"          origen_datos as string,",
						"          lote_vacuna as string,",
						"          observaciones as string,",
						"          registro_id as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          fecha_key,",
						"          paciente_key,",
						"          vacuna_key,",
						"          establecimiento_key,",
						"          numero_dosis,",
						"          temperatura_conservacion,",
						"          edad_dias_aplicacion,",
						"          aplicacion_oportuna,",
						"          latitud,",
						"          longitud,",
						"          origen_datos,",
						"          lote_vacuna,",
						"          observaciones,",
						"          registro_id",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_vacunacion_consolidada')]",
				"[concat(variables('factoryId'), '/datasets/gold_dim_establecimiento')]",
				"[concat(variables('factoryId'), '/datasets/gold_dim_paciente')]",
				"[concat(variables('factoryId'), '/datasets/gold_dim_vacuna')]",
				"[concat(variables('factoryId'), '/datasets/gold_dim_tiempo')]",
				"[concat(variables('factoryId'), '/datasets/gold_hechos_vacunacion')]"
			]
		}
	]
}